.start-now{
    margin-bottom: 100px;
    .call-action{
        background-image:var(--gradient-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
        padding: 60px 80px;
        border-radius: 10px;
        box-shadow: var(--shadow);
        z-index: 1;
    .text{
        color: var(--white-color);
        padding: 0px 15px;
        h6{
            font-size: 13px;
            margin-bottom: 15px;
            font-weight: 500;
            letter-spacing: 3px;
        }
        h3{
            font-size: 30px;
            line-height: 1.6;
        }
        p{
            font-size: 15px;
            line-height: 2;
        }
    }
    .call-button{
        line-height: 50px;
        text-align: center;
        border-radius: 30px;
        background-color: var(--white-color);
        a{
            font-size: 15px;
            color:var(--text-color);
        }
    }
    .call-bg{
        position: absolute;
        background-image: url(../img/call-action.png);
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.3;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
}